[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "==3.2.0.8"
pillow = "==7.0.0"
numpy = "*"
tornado = "==6.0.4"
ujson = "*"
websocket = "*"
websocket-client = "*"

[requires]
python_version = "3.6"
